body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

#calc-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#calc-display {
    border: 1px solid red;
    height: 3em;
    font-size: 24px;
    padding: 1em 1em;
}

.calc-btn {
    border: 1px solid grey;
    font-size: 18px;
    width: 5em;
    text-align: center;
    padding: 0.2em 1em;
    user-select: none;
}

#calc-buttons {
    display: flex;
    gap: 40px;
}